<h2>Update a vehicle</h2>

<form action="/vehicles/{{vehicle._id}}/edit" method="POST">

  <label for="name">Name:
    <input type="text" name="name" />
  </label>

  <label for="wheels">Wheels:
    <input type="number" name="wheels" />
  </label>

  <label for="wings">Wings:
    <input type="number" name="wings" />
  </label>

  <label for="maxSpeed">Maximum Speed:
    <input type="number" name="maxSpeed" />
  </label>

  <button type="submit">Update it!</button>

</form>